<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.idMovie}}" placeholder="idMovie" name = "idMovie">
            <label for="floatingInput">idMovie</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Title}}" placeholder="Title" name = "Title">
            <label for="floatingInput">Title</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Year}}" placeholder="Year" name = "Year">
            <label for="floatingInput">Year</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Genre}}" placeholder="Genre" name = "Genre">
            <label for="floatingInput">Genre</label>
        </div>
    </div>
        <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Director}}" placeholder="Director" name = "Director">
            <label for="floatingInput">Director</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-6">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Description}}" placeholder="Description" name = "Description">
            <label for="floatingInput">Description</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-6">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.Play}}" placeholder="Play" name = "Play">
            <label for="floatingInput">Link</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-6">
            <input type="text"  class="form-control" id="floatingInput" value="{{this.No_Seasons}}" placeholder="No_Seasons" name = "No_Seasons">
            <label for="floatingInput">No_Seasons</label>
        </div>
    </div>




    <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>    