<div class="row">
  <div class="col-6">
    <h1></h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addmovie" type="button" class="btn btn-primary align-self-center">+ Add</a>
  </div>
</div>

<table class="table" href="home.hbs">
  <thead> <!-- header -->
    <tr>
        <th scope="col">idMovie</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Director</th>
        <th scope="col">Description</th>
        <th scope="col" >Play</th> <!--lam thanh cai cho de mo video -->
    </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td>{{this.idMovie}}</td>
        <td>{{this.Title}}</td>
        <td>{{this.Year}}</td>
        <td>{{this.Genre}}</td>
        <td>{{this.Director}}</td>
        <td>
          <p class=".d-sm-none .d-md-block">{{this.Description}}</p>
        </td>
        <td><iframe width="450" height="250" src={{this.Play}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td> 
        <td class="text-end">
        <div class="btn-group btn-group-lg"> 
        <a href="/editmovie/{{this.idMovie}}" type="button" class="btn btn-light btn-small">Edit</a>
        {{!-- <a href="/{{this.idMovie}}" type="button" class="btn btn-light btn-small"> Delete</a> --}}
        <a href="//{{this.idMovie}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
        {{!-- <td>{{this.Play}}</td>  --}}
             </tr>
    {{/each}}

      
      
    </tbody>
    </table>
 