
<div class="d-flex container-fluid">
  <div class="col col-8">
    <form class="d-flex" method="POST" action="/series" novalidate>
      <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-dark btn-lg " type="submit">Search</button>
    </form>
  </div>
  <div class="col col-4">
    <a class="d-flex justify-content-end"><a href="/addmovie" type="button">
      <button class="btn btn-outline-dark btn-lg " type="submit">Add</button>
    </a>
  </div>
</div>
<table class="styled-table" href="series.hbs">

  <thead> <!-- header -->
	<tr>
        <th>#</th>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Description</th>
        <th>Play</th> <!--lam thasnh cai cho de mo video -->
        <th>No_Seasons</th>
        <th>Tool</th>
	</tr>

    </thead>

    <tbody>
      {{#each rows}}
      <tr>
        <td>{{this.idSeries}}</td>
        <td>{{this.Title}}</td>
        <td>{{this.Year}}</td>
        <td>{{this.Genre}}</td>
        <td>
            {{!-- <a href="/"> --}}
                {{this.Director}}
            {{!-- </a>   --}}
        </td>
   
        
        <td>
          <p class=".d-sm-none .d-md-block">{{this.Description}}</p>
        </td>
        <td><iframe width="300" height="175" src={{this.Play}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td>

        <td>{{this.No_Seasons}}</td>

        <td class="text-end">
        <div class="btn-group btn-group-lg"> 
        <a href="/series/editseries/{{this.idSeries}}" type="button" class="btn btn-light btn-small">Edit</a>
        <a href="/series/delete/{{this.idSeries}}" type="button" class="btn btn-light btn-small"><i></i> Delete</a>
      </td>
        {{!-- <td>{{this.Play}}</td>  --}}
             </tr>
    {{/each}}

      
      
    </tbody>
    </table>
 